<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            2da Unidad
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">2da Unidad</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-segment>
        <ion-input type="number" placeholder='Precio Producto'  [(ngModel)]="price" inputmode="decimal"></ion-input>
        <ion-input type="number" placeholder='Porcentaje quita' [(ngModel)]="descuento" inputmode="decimal"></ion-input>
        <ion-input type="number" placeholder='Producto x Combo' [(ngModel)]="cantProductus" inputmode="decimal"></ion-input>
        <ion-input type="number" placeholder='Combos' [(ngModel)]="cantCombos" inputmode="decimal"></ion-input>
    </ion-segment>  
    <ion-item-group>
        <ion-item-divider>
            <ion-label>Descuentos</ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-label>
                Valor Unitario Final: {{precioUnitario()| number : '.2-2'}}
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                Ahorraste: {{ahorroTotal()| number : '.2-2'}}
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                Total a Pagar: {{total()| number : '.2-2'}}
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                Total sin descuento: {{totalSinDescuento()| number : '.2-2'}}
            </ion-label>
        </ion-item>
    </ion-item-group>
    <ion-grid>
        <ion-row>
            <ion-col size="4"  *ngFor="let number of buttons">
                <ion-button expand="block" (click)="addNumber(number)" >{{number}}</ion-button>
            </ion-col>
            <ion-col size="4">
                <ion-button expand="block" (click)="deleteLastNumber()" color="danger"> Delete </ion-button>
            </ion-col>
            <ion-col size="4">
                <ion-button expand="block" (click)="clearInput()" color="warning"> Clear </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
