<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            2da Unidad
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-card-header>
        <ion-card-subtitle>Precio</ion-card-subtitle>
        <ion-card-title>{{formatedPrice()}}</ion-card-title>
    </ion-card-header>

    <ion-segment>
        <ion-card-header>
            <ion-card-subtitle>Unidad</ion-card-subtitle>
            <ion-card-title>{{precioUnitario()| number : '.2-2'}}</ion-card-title>
        </ion-card-header>
        <ion-card-header>
            <ion-card-subtitle>Total</ion-card-subtitle>
            <ion-card-title>{{total()| number : '.2-2'}}</ion-card-title>
        </ion-card-header>
    </ion-segment>

    <div>
        <ion-chip color="success">
            <ion-label>Ahorraste: {{ahorroTotal()| number : '.2-2'}}</ion-label>
        </ion-chip>
        <ion-chip color="tertiary">
            <ion-label>Descuento</ion-label>
            <ion-select interface="popover" [(ngModel)]="descuento">
                <ion-select-option value="30">30%</ion-select-option>
                <ion-select-option value="40">40%</ion-select-option>
                <ion-select-option value="50">50%</ion-select-option>
                <ion-select-option value="60">60%</ion-select-option>
                <ion-select-option value="70">70%</ion-select-option>
                <ion-select-option value="80">80%</ion-select-option>
            </ion-select>
        </ion-chip>
    </div>

    <ion-grid>
        <ion-row>
            <ion-col size="4"  *ngFor="let number of buttons">
                <ion-button expand="block" (click)="addNumber(number)" color="tertiary" >{{number}}</ion-button>
            </ion-col>
            <ion-col size="4">
                <ion-button expand="block" (click)="addNumber('.')" color="tertiary"> , </ion-button>
            </ion-col>
            <ion-col size="4">
                <ion-button expand="block" (click)="deleteLastNumber()" color="danger"> Borrar </ion-button>
            </ion-col>
            <ion-col size="">
                <ion-button expand="block" (click)="clearInput()" color="warning"> Limpiar </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!-- <div style="position: fixed;bottom: 0px;width: 100%;">
        <ion-item>
            <ion-label>Descuento</ion-label>
            <ion-select interface="popover"  placeholder="De cuanto es el descuento ?" [(ngModel)]="descuento">
                <ion-select-option value="30">30%</ion-select-option>
                <ion-select-option value="40">40%</ion-select-option>
                <ion-select-option value="50">50%</ion-select-option>
                <ion-select-option value="60">60%</ion-select-option>
                <ion-select-option value="70">70%</ion-select-option>
                <ion-select-option value="80">80%</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Combos</ion-label>
            <ion-select interface="popover" placeholder="Cuantos Combos vas a llevar ?" [(ngModel)]="cantCombos">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
            </ion-select>
        </ion-item>

    </div> -->
   
</ion-content>
